# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.cfg text eol=lf
*.json text eol=lf
*.jinja text eol=lf
*.jinja2 text eol=lf
*.j2 text eol=lf
*.sh text eol=lf
Makefile text eol=lf

# Declare files that will always have CRLF line endings on checkout (Windows scripts)
*.bat text eol=crlf
*.cmd text eol=crlf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.pyc binary
*.pyo binary
*.pyd binary
*.so binary
*.dll binary
